@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  font-family: 'Preahvihear', sans-serif;
  font-size: 40px;
  color: #fff;
}

.paint-h1 {
  border: 1px solid #fff;
  margin: 20px;
  border-radius: 10px;
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

.paint-canvas {
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: crosshair;
  background-color: white;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  touch-action: none;
  /* Disable default touch behavior */
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.clear,
.download {
  padding: 10px 20px;
  font-size: 18px;
  width: 17%;
  border: 1px solid black !important;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Ysabeau Office', sans-serif;
  color: white;
  margin: 10px;
  transition: transform 0.3s, background-color 0.3s;
}

.clear {
  background-color: red;
}

.download {
  background-color: rgb(28, 238, 28);
}

.clear:hover,
.download:hover {
  transform: scale(1.1);
}

.paint-page-content {
  text-align: center;
  background-image: url('https://i.imgur.com/4skF7JA.jpeg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.controls label {
  margin-bottom: 5px;
}

.controls input,
.controls select {
  margin-bottom: 10px;
  padding: 5px;
}

/* Adjust the font size for better mobile readability */
.controls select {
  font-size: 14px;
}

.clear,
.download {
  margin: 10px;
  padding: 5px 10px;
  font-size: 14px;
}